/*
    This Stylesheet is used to apply styling directly to the layout.html
    Use this stylesheet when you want apply to all templates that use layout.html
*/
body {
    background-color: #be6c00;
    background-image: url(https://i.imgur.com/x8JbAe0.png);
    background-size: cover;
}

h1, h2, h3, h6 {
    color: ivory;
    background-color: slategrey;
    padding: 5px;
}

h4 {
    color: ivory;
    background-color: rgb(100, 53, 5);
    padding: 15px;

}

h5 {
    color: black;
    background-color:#8d5104;
    width: 280px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 0px 15px 15px 0px;
}

button {
    font-size: 1.2em;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 15px;
}


.indent20{
    margin-left: 20px;
}

p, a {
    font-size: 16px;
    
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

tr{
    border: 1px solid black;
}

/* style for even rows */
tr:nth-child(even) {
        background-color: #e6dc95;
}

/* style for odd rows */
tr:nth-child(odd) {
background-color: #efe9b9;
}

th{
    border: 1px solid black;
    background-color: #2a2501;
    color:beige;
}

th,td{
    padding: 5px;
}

.sticky{
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.add_new{
    position: absolute;
    bottom: 20px;
}

.main{
    display: flex;
    height: 90vh; 
    max-width: 98vw;
    margin: auto;
}

.widget{
    height: 80vh;
    background-color: rgba(0,0,0,0.4); 
    margin: 8px;
    padding: 5px;
    padding-top: 0px;
    width: 32%;
    min-width: 400px;
    text-align: center;
    border-radius: 10px;
    scrollbar-color:blue;
}


.scroll{
    overflow-y:scroll;
    scrollbar-color: blue;
}

.stopwatch-container {
    text-align: center;
    margin-top: 20px;
}
  
.stopwatch {
    font-size: 3em;
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    padding: 10px;
    margin: 70px 10px 30px 10px;
    color: white;
    border: black 6px solid;
}

.buttons {
    margin-top: 20px;
}

.list{
    height: 500px;
    overflow-y:scroll
}

.assignment{
    margin: 20px;
    border-radius: 10px;
    background-color: beige;
    color: Black;
}

.description{
    margin: 20px;
    padding: 30px 5px 5px 5px;
    border-radius: 10px;
    background-color: beige;
    color: Black;
    min-height: 200px;
}
  
.widget-title{
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    color: white;
}

#stopwatch-start{
    background-color: #1bbb10;
    color: white;
    border: black 6px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#stopwatch-stop{
    background-color: #bb1010;
    color: white;
    border: black 6px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#stopwatch-reset{
    background-color: #1010bb;
    color: white;
    border: black 6px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#easy-btn{
    background-color: #0d780d;
    color: white;
    border: black 6px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#medium-btn{
    background-color: #fa800f;
    color: white;
    border: black 6px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#hard-btn{
    background-color: #bb1027;
    color: white;
    border: black 6px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}