{% extends 'layout.html' %}

{% block content %}
    <h3>Archbishop Molloy HS - AI competition</h3>
    <br>
    <!-- show table with assignments (columns: name, level) -->
    <h4>
        Assignments - EDIT  &nbsp;&nbsp;
        <a href="{{ url_for('admin' ) }}"><button>List</button></a>
    </h4>
    <br>
    <div class="list">
        <form class="indent20" action="{{ url_for('admin_edit') }}" method="post">
            <table>
                <tr><th>Name</th><th>level</th><th>action</th></tr>
                {% for a in assignments %}
                    <tr>
                        <td title="{{ a.description }}">{{ a.name }}</td>
                        <td>{{ a.level }}</td>
                        <td><input type="submit" value="Edit | {{ a.name }}" name="action"></td>
                    </tr>
                {% endfor %}
            </table>
        </form>
        <br><br><br><br><br><br><br><br>
    </div>
    
    <br>
    <!-- form to edit assignment -->
    {% if name != "" %}
    <div class="add_new">
        <h5>Edit/Update Assignment</h5>
        <form class="indent20" action="{{ url_for('admin_edit') }}" method="post">
            <label for="name">Name:</label>
            <input value = "{{name}}" type="text" name="name" id="name">
            <label for="level">Level:</label>
            <select id="level" name="level">
                <option value="Easy" {% if level == 'Easy' %} selected{% endif %}>Easy</option>
                <option value="Medium"  {% if level == 'Medium' %} selected{% endif %}>Medium</option>
                <option value="Hard"  {% if level == 'Hard' %} selected{% endif %}>Hard</option>
            </select>
            <label for="description">Description:</label>
            <input value="{{ description }}" type="text" name="description" style="width: 600px;" id="description">
            <input type="submit" value="update" name="action" >
        </form>
    </div>
    {% endif %}
    

    
    
    
    
    {% endblock %}

{% block scripts %}
    <script>
    $(document).ready(function(){
        console.log('--- js file loaded ---');

        var content =  $.ajax({
            url: "https://api.nasa.gov/planetary/apod?api_key=VM2f40EQQ0tk58nvmPhpVa6gthc5ma6Chgll56N7",
            contentType: "application/json",
            dataType: 'json',
            success: function(result){
                console.log(result);
            }



        })
    })
    </script>
{% endblock %}